/* index.css */

/* 1. 变量与重置 (基础) */
@import "./variables.css";
@import "./base.css";
@import "./typography.css";

/* 2. 动画 (方法) */
@import "./animations.css";

/* 3. 通用对象 (组件与布局) */
@import "./layout.css";
@import "./components/buttons.css";
@import "./components/alerts.css";
@import "./components/dropdowns.css";
@import "./components/progress.css";

/* 5. 响应式补丁 */
